.menu{
    height: 20vh;
    width: 100vw;
    background: whitesmoke;
    position: fixed;
    top: 0;
    left: -100vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

@media screen and (max-width: 767px){
    .outerGrid1{
        gap: 10px;
        display: grid;
        grid-template-areas: 
        'pst1'
        'pst2'
        'pst3'
        'pst4'
        ;
    }

    .innerGrid1{
        background-color: whitesmoke;
        border: 5px black solid;
        padding: 5vh 5vw;
        display: grid;
        grid-template-areas:
        'ti su pe ca'
        'com com res res'
        ;
        grid-template-rows: 10vh 10vh;
        grid-template-columns: 30% 20% 30% 10%;
    }

    .title{
        grid-area: ti;
        background-color: none;
        border: 1px black solid;
        padding: 5px;
        margin: 10px
    }

    .subject{
        grid-area: su;
        border: 1px black solid;
        padding: 5px;
        margin: 10px
    }

    .person{
        grid-area: pe;
        border: 1px black solid;
        padding: 5px;
        margin: 10px
    }

    .category{
        grid-area: ca;
        border: 1px black solid;
        padding: 5px;
        margin: 10px
    }

    .commentButton{
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
        grid-area: com;
    }

    .resultsButton{
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
        grid-area: res;
    }

    .calendarGrid{
        display: grid;
        grid-template-areas:
        'days'
        'd1 d2 d3 d4 d5 d6 d7'
        'd8 d9 d10 d11 d12 d13 d14'
        'd15 d16 d17 d18 d19 d20 d21'
        'd22 d23 d24 d25 d26 d27 d28'
        'd29 d30 d31 d32 d33 d34 d35'
        ;
        grid-template-rows: 10vw 10vw 10vw 10vw 10vw 10vw;
        grid-template-columns: 5vh 5vh 5vh 5vh 5vh 5vh;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    .days{
        grid-area: days;
        display: flex;
        justify-content: space-evenly;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    .coursePoints{
        display: flex;
        justify-content: space-evenly;
        background-color:lightblue; 
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    .courses{
        display: grid;
        grid-template-areas: 
        'co pts te sa'
        ;
    }

    .course{
        grid-area: co;
    }

    .points{
        grid-area: pts;
    }

    .teacher{
        grid-area: te;
    }

    .assessement{
        grid-area: sa;
    }

    .coursesArray{
        display: grid;
        grid-template-areas: 
        'onTitle'
        'on'
        'onArray'
        'comTitle'
        'com'
        'comArray'
        'notTitle'
        'not'
        'notArray'
        ;
        grid-template-columns: 100%;
    }

    #ongoingCourses{
        grid-area: on;
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
    }

    #completedCourses{
        grid-area: com;
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
    }

    #notStartedCourses{
        grid-area: not;
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
    }
    
    .onCo{
        grid-area: onTitle;
    }

    .comCo{
        grid-area: comTitle;
    }

    .notStCo{
        grid-area: notTitle;
    }

    #onArray{
        grid-area: onArray;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    #comArray{
        grid-area: comArray;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    #notArray{
        grid-area: notArray;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    .courses2{
        display: grid;
        grid-template-areas: 
        'c1'
        'c2'
        'c3'
        'c4'
        'c5'
        'c6'
        'c7'
        'c8'
        'c9'
        'c10'
        ;
    }

    #course1{grid-area: c1;}
    #course2{grid-area: c2;}
    #course3{grid-area: c3;}
    #course4{grid-area: c4;}
    #course5{grid-area: c5;}
    #course6{grid-area: c6;}
    #course7{grid-area: c7;}
    #course8{grid-area: c8;}
    #course9{grid-area: c9;}
    #course10{grid-area: c10;}

    .courses3{
        display: grid;
        grid-template-areas: 
        'co pts te sa'
        ;
    }

    .crs{grid-area: co;}
    .pts{grid-area: pts;}
    .tchr{grid-area: te;}
    .show{grid-area: sa;}
}

@media screen and (min-width: 767px){
    .outerGrid1{
        gap: 10px;
        display: grid;
        grid-template-areas: 
        'pst1 pst2'
        'pst3 pst4'
        ;
    }

    .innerGrid1{
        background-color: whitesmoke;
        border: 5px black solid;
        padding: 5vh 5vw;
        display: grid;
        grid-template-areas:
        'ti su pe ca'
        'com com res res'
        ;
        grid-template-rows: 10vh 10vh;
        grid-template-columns: 30% 20% 30% 10%;
    }

    .title{
        grid-area: ti;
        background-color: none;
        border: 1px black solid;
        padding: 5px;
        margin: 10px
    }

    .subject{
        grid-area: su;
        border: 1px black solid;
        padding: 5px;
        margin: 10px
    }

    .person{
        grid-area: pe;
        border: 1px black solid;
        padding: 5px;
        margin: 10px
    }

    .category{
        grid-area: ca;
        border: 1px black solid;
        padding: 5px;
        margin: 10px
    }

    .commentButton{
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
        grid-area: com;
    }

    .resultsButton{
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
        grid-area: res;
    }
    
    .coursePoints{
        display: flex;
        justify-content: space-evenly;
        background-color:lightblue;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    .courses{
        display: grid;
        grid-template-areas: 
        'co pts te sa'
        ;
    }

    .course{
        grid-area: co;
    }

    .points{
        grid-area: pts;
    }

    .teacher{
        grid-area: te;
    }

    .assessement{
        grid-area: sa;
    }
    
    .coursesArray{
        display: grid;
        grid-template-areas: 
        'onTitle comTitle notTitle'
        'on com not'
        'onArray comArray notArray'
        ;
        grid-template-columns: 30%;
    }

    #ongoingCourses{
        grid-area: on;
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
    }

    #completedCourses{
        grid-area: com;
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
    }

    #notStartedCourses{
        grid-area: not;
        background-color:lightblue;
        border: 5px black solid;
        padding: 5px;
        margin: 10px;
    }

    .onCo{
        grid-area: onTitle;
        margin: 20px;
    }

    .comCo{
        grid-area: comTitle;
        margin: 20px;
    }

    .notStCo{
        grid-area: notTitle;
        margin: 20px;
    }

    #onArray{
        grid-area: onArray;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    #comArray{
        grid-area: comArray;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    #notArray{
        grid-area: notArray;
        border: 2px black solid;
        padding: 5px;
        margin: 10px;
    }

    .courses2{
        display: grid;
        grid-template-areas: 
        'c1'
        'c2'
        'c3'
        'c4'
        'c5'
        'c6'
        'c7'
        'c8'
        'c9'
        'c10'
        ;
    }

    #course1{grid-area: c1;}
    #course2{grid-area: c2;}
    #course3{grid-area: c3;}
    #course4{grid-area: c4;}
    #course5{grid-area: c5;}
    #course6{grid-area: c6;}
    #course7{grid-area: c7;}
    #course8{grid-area: c8;}
    #course9{grid-area: c9;}
    #course10{grid-area: c10;}

    .courses3{
        display: grid;
        grid-template-areas: 
        'co pts te sa'
        ;
    }

    .crs{grid-area: co;}
    .pts{grid-area: pts;}
    .tchr{grid-area: te;}
    .show{grid-area: sa;}
}